<mat-card class="example-card" style="position: relative;" *ngFor="let data of dashboardModel; let i = index">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title style="color:green; cursor: pointer;" (click)="openModal(productStock, data.companyID, data?.companyName)">{{data?.companyName}}</mat-card-title>
      <img style="margin-top: -11px;" mat-card-sm-image src="assets/Images/Screenshot 2023-12-11 124453.png" >
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <br>
    <div style="background-color: white; color: black; border-radius: 10px;width: 150px;margin-bottom: 1px;">
      <p>পরিমান : {{data?.salesQuantity}}</p>
    </div>
    <div style="background-color: white; color: black; border-radius: 10px;">
      <p>মূল্য : {{data?.salesPrice}}</p>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #productStock let-modal>
	<div class="modal-header" style="height: 50px;">
		<h4 class="modal-title" id="modal-basic-title" style="font-weight: bold; margin-top: 20px;">পণ্যের স্টক</h4>
    <h4 class="modal-title" id="modal-basic-title" style="font-weight: bold; margin-top: 20px; margin-right: 30px;">কোম্পানি : {{currentCompany}}</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
    <div class="component-val-container">
			<div class="component-val-item">
        <table class="table table-bordered table-hover table-striped table-light">
            <thead>
              <tr>
                <th>পণ্যের নাম</th>
                <th>মূল্য</th>
                <th>বর্তমান স্টক</th>
                <th class="d-flex justify-content-center">Action</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of productStocks; let i = index">
              <td>{{item.productName}}</td>
              <td>{{item.price}}</td>
              <td>{{item?.currentStock}}</td>
              <td class="d-flex justify-content-center gap-2">
                <input class="w-50" name="quantity_{{i}}" type="number" [(ngModel)]="inputValues[i]" placeholder="Enter new stock..."
                 required (input)="checkValue(inputValues[i], i)"/>
                <button mat-raised-button color="primary" class="icon-spacing" style="font-size: 11px !important;" 
                (click)="updateStock(inputValues[i], item, i)" [disabled]="isButtonDisabled[i] || isLoading[i]">
                <mat-spinner *ngIf="isLoading[i]" diameter="20"></mat-spinner>
                <span *ngIf="!isLoading[i]">Update</span>
              </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-template>