<mat-card class="example-card" style="position: relative;" *ngFor="let data of dashboardModel; let i = index">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title style="color:green;">{{data?.companyName}}</mat-card-title>
      <img style="margin-top: -11px;" mat-card-sm-image src="assets/Images/Screenshot 2023-12-11 124453.png" >
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <br>
    <div style="background-color: white; color: black; border-radius: 10px;width: 150px;margin-bottom: 1px;">
      <p>পরিমান : {{data?.salesQuantity}}</p>
    </div>
    <div style="background-color: white; color: black; border-radius: 10px;">
      <p>মূল্য : {{data?.salesPrice}}</p>
    </div>
  </mat-card-content>
</mat-card>




