.example-card {
  width: 219px;
  max-height:700px;
  display:inline-block;
  padding:20px;
  margin:20px;
  text-align: center;
  border-radius: 2rem;
  box-shadow: 20rem;
  border-width: 2px;
  padding-right: -6px;
  position: relative;
}
mat-card-content{

    text-align:center;
    padding:10px;
    padding-top:15px;
    font-size:1.2em;
    color: whitesmoke;
    position: relative;
}
.background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2rem;
}




