<mat-card class="example-card" id="demand">
  <mat-card-header>
    <mat-card-title>Demand</mat-card-title>
    <mat-card-subtitle>Total Demand :</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    
  </mat-card-content>
</mat-card>

<mat-card class="example-card" id="trade">
  <mat-card-header>
    <mat-card-title>Trade</mat-card-title>
    <mat-card-subtitle>Total Trade :</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
   
  </mat-card-content>
</mat-card>

<mat-card class="example-card" id="agency">
  <mat-card-header>
    <mat-card-title>Agency</mat-card-title>
    <mat-card-subtitle>Total Agency :</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
   
  </mat-card-content>
</mat-card>

<mat-card class="example-card" id="applicant">
  <mat-card-header>
    <mat-card-title>Applicant</mat-card-title>
    <mat-card-subtitle>Total Applicant :</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    
  </mat-card-content>
</mat-card>

<mat-card class="example-card" id="agent">
  <mat-card-header>
    <mat-card-title>Agent</mat-card-title>
    <mat-card-subtitle>Total Agent :</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
  
  </mat-card-content>
</mat-card>
