.example-card {
  width: 219px;
  display:inline-block;
  padding:20px;
  margin:20px;
  text-align: center;
  border-radius: 2rem;
  box-shadow: 20rem;
  border-width: 2px;
  padding-right: -6px;
  position: relative;
}

   p {
        font-weight: bold;
        width: 140px;
        font-size: 15px;
        color: #333;
        margin: 0;
        padding: 10px;
        background-color: #f8f8f8;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

.modal-body {
  border-top: 2px solid gray;
  padding: 0 0 !important;   
}

.component-val-container {
  height: calc(98vh - 125px);
  overflow: auto;
}

.component-val-item {
  padding: 30px;
}

button {
  outline: none;
  border: none;
  background: none;
  padding: 0px 10px;
  font-size: 24px;
}

