<mat-card class="mat-elevation-z3">
  <mat-card-header class="row">
    <div class="d-flex justify-content-between">
      <div>
        <mat-card-title class="h5">ব্যবহারকারীর তালিকা</mat-card-title>
      </div>
      <!-- <div class="d-flex align-items-center">
       
        <button mat-mini-fab class="btn btn-primary">
          <mat-icon>add_box</mat-icon>
            </button>
      </div> -->
     
    </div>

  </mat-card-header>

  <mat-card-content>

    <div class="row mt-2">
      <div class="col">
        <mat-form-field appearance="fill" class="f-w mb-1">
          <mat-label>ব্যবহারকারীর নাম অনুযায়ী অনুসন্ধান </mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="USER নাম অনুযায়ী অনুসন্ধান" #input>
        </mat-form-field>
        
      </div>

    </div>
    <mat-table [dataSource]="dataSource" matSort style="text-align:center">
  
      <ng-container matColumnDef="userName">
        <mat-header-cell *matHeaderCellDef mat-sort-header >ব্যবহারকারী নাম</mat-header-cell>
        <mat-cell *matCellDef="let element" [style.text-align]="'center'" >{{element.firstName}} {{element.lastName}} </mat-cell>
      </ng-container>

        
      <ng-container matColumnDef="loginName">
        <mat-header-cell *matHeaderCellDef mat-sort-header >ব্যবহারকারী লগইন নাম</mat-header-cell>
        <mat-cell *matCellDef="let element" [style.text-align]="'center'" >{{element.userName}} </mat-cell>
      </ng-container>

        
      <ng-container matColumnDef="userStatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header >ব্যবহারকারীর  অবস্থা</mat-header-cell>
        <mat-cell *matCellDef="let element" [style.text-align]="'center'" >{{getUserStatusName(element.userStatus)}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="permission">
        <mat-header-cell *matHeaderCellDef mat-sort-header >অনুমতি</mat-header-cell> 
        <mat-cell *matCellDef="let element" class="action">
          <button mat-raised-button color="primary" class="icon-spacing" (click)="showUserApprovalAlert(element.userId,element)"  [disabled]="element.userStatus === 1" >Permission</button>
          <button mat-raised-button color="accent" class="icon-spacing"  >Reset</button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions" class="action" style="align-items:end;">
        <mat-header-cell *matHeaderCellDef mat-sort-header  class="action" >...</mat-header-cell>
        <mat-cell *matCellDef="let element" class="action">

          <!-- <button mat-raised-button color="primary" class="icon-spacing"  >Edit</button> -->
          <button mat-raised-button  color="warn" class="icon-spacing" (click)="showConfirmationAlert(element.userId,element)" >Deactivate</button>

        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnList" class="bold-header"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnList;"></mat-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 40]" [pageSize]="5" showFirstLastButtons></mat-paginator>

  </mat-card-content>
</mat-card>