<mat-card class="mat-elevation-z3">
  <mat-card-header class="row">
    <div class="d-flex justify-content-between">
      <div>
        <mat-card-title class="h5">ব্যবহারকারীর তালিকা</mat-card-title>
      </div>
      <!-- <div class="d-flex align-items-center">
       
        <button mat-mini-fab class="btn btn-primary">
          <mat-icon>add_box</mat-icon>
            </button>
      </div> -->
     
    </div>

  </mat-card-header>

  <mat-card-content>

    <div class="row mt-2">
      <div class="col">
        <mat-form-field appearance="fill" class="f-w mb-1">
          <mat-label>ব্যবহারকারীর নাম অনুযায়ী অনুসন্ধান </mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="USER নাম অনুযায়ী অনুসন্ধান" #input>
        </mat-form-field>
        
      </div>

    </div>
    <mat-table [dataSource]="dataSource" matSort style="text-align:center">

      <ng-container matColumnDef="userName" style="width: 15%;">  <mat-header-cell *matHeaderCellDef mat-sort-header>ব্যবহারকারী নাম</mat-header-cell>
        <mat-cell *matCellDef="let element" [style.text-align]="'center'">{{element.firstName}} {{element.lastName}}</mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="loginName" style="width: 15%;">  <mat-header-cell *matHeaderCellDef mat-sort-header>লগইন নাম</mat-header-cell>
        <mat-cell *matCellDef="let element" [style.text-align]="'center'">{{element.userName}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="roleName" style="width: 15%;">  <mat-header-cell *matHeaderCellDef mat-sort-header>রোল </mat-header-cell>
        <mat-cell *matCellDef="let element" [style.text-align]="'center'">{{element.roleName}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="userStatus" style="width: 15%;">  <mat-header-cell *matHeaderCellDef mat-sort-header>অবস্থা</mat-header-cell>
        <mat-cell *matCellDef="let element" [style.text-align]="'center'">{{getUserStatusName(element.userStatus)}}</mat-cell>
      </ng-container> 
    
      <ng-container matColumnDef="actions" class="action" style="width: 55%;">  <mat-header-cell *matHeaderCellDef mat-sort-header class="action">...</mat-header-cell>
        <mat-cell *matCellDef="let element" class="action">
          <button mat-raised-button color="primary" class="icon-spacing" (click)="showUserApprovalAlert(element.userId,element)" [disabled]="userRole.roleId !== role.global_admin">Permission</button>
          <button mat-raised-button color="accent" class="icon-spacing" [disabled]="userRole.roleId !== role.global_admin" (click)="onRoleAsign(roleAssignModal, element.userId)">Role</button>
          <button mat-raised-button color="accent" class="icon-spacing" [disabled]="userRole.roleId !== role.global_admin" (click)="onReset(passwordReset, element.userId)">Reset</button>
          <button mat-raised-button color="warn" class="icon-spacing" (click)="showConfirmationAlert(element.userId,element)" [disabled]="userRole.roleId !== role.global_admin">Deactivate</button>
        </mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="columnList" class="bold-header"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnList;"></mat-row>
    
    </mat-table>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 40]" [pageSize]="5" showFirstLastButtons></mat-paginator>

  </mat-card-content>
</mat-card>

<ng-template #passwordReset let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" style="text-align: right;"> পাসওয়ার্ড রিসেট করুন </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" class="PasswordResetFrom" (ngSubmit)="onPasswordReset()" >
      <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form" ></formly-form>
      <div class="modal-footer" style="display: flex; justify-content: flex-end;"> 
        <button type="submit" class="btn btn-outline-warning">Reset</button>
      </div>
    </form>
    
  </div>
</ng-template>




 <ng-template #roleAssignModal let-modal>
  <div class="modal-header">
		<h4 class="modal-title">
			<span>Role Assign</span>
		</h4>
		<button type="button" id="times_button" class="close pull-right" aria-label="Close" (click)="modal.dismiss()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
  <div class="modal-body" style="height: 150px; padding: 10px;">
   
      <form [formGroup]="form" class="RoleAssignForm" (ngSubmit)="onRoleAssign()"  >
        <formly-form [model]="roleAssignModel" [fields]="fields" [options]="options" [form]="form" ></formly-form>
        <div class="modal-footer" style="display: flex; justify-content: flex-end;"> 
          <button type="submit" class="btn btn-outline-dark"(click)="modal.dismiss()">Assign</button>
        </div>
      </form>
    <!-- <form #f="ngForm" novalidate>
      <div class="form-group" style="padding: 5px; margin: 20px 20px;">
        <select class="form-select" name="roleId" [(ngModel)]="roleAssignModel.roleId" required>
          <option [value] = 0 disabled>Choose a role</option>
          <option *ngFor="let item of roleData" [value]="item.roleId">{{item.roleName| titlecase}} 
          </option>
        </select>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success btn-sm" (click)="onRoleAssignClose(modal)" [disabled]="f.invalid">Submit</button>
      </div>
    </form> -->
  </div>

</ng-template> 




