.sidenav-container {
  height: 100%;
  width: 100%;
  
}

.sidenav {
  width: 200px;
}

.example-spacer {
  flex: 1 1 auto;
}
/* .sidenav .mat-toolbar {
  background: inherit;
} */

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
}

.icon {
  margin-right: 15px;
}

.sidenav{
  font-size: 13px;
}