<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
               [opened]="false" mode="side">

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-label>Rosh Sweets</mat-label>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item [routerLink]="['/home']">
        <mat-icon>dashboard</mat-icon><span>Dashboard</span>
      </mat-list-item>
      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          Common
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/companyview']"><mat-icon>label_important</mat-icon>Company</a>
          <a mat-list-item [routerLink]="['/productView']"><mat-icon>label_important</mat-icon>Products</a>
          <!--<a mat-list-item [routerLink]="['/stock', companies.Lovello]"><mat-icon>label_important</mat-icon>Lovello</a>-->

        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          StockDeatils
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/stock', companies.Savoy]"><mat-icon>label_important</mat-icon>Savoy</a>
          <a mat-list-item [routerLink]="['/stock', companies.Lovello]"><mat-icon>label_important</mat-icon>Lovello</a>
          <a mat-list-item [routerLink]="['/stock', companies.Igloo]"><mat-icon>label_important</mat-icon>Igloo</a>
          <a mat-list-item [routerLink]="['/stock', companies.ZaNZee]"><mat-icon>label_important</mat-icon>ZaNZee</a>
          <a mat-list-item [routerLink]="['/stock', companies.KaziFarmFood]"><mat-icon>label_important</mat-icon>KaziFarmFood</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          SalesDistribution
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/sales-view']"><mat-icon>label_important</mat-icon>Distribution</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <ng-template [ngIf]="!authService.isAuthenticated()">
          <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" disabled>
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <span>{{ appTitle }}</span>
        </ng-template>
        <ng-template [ngIf]="authService.isAuthenticated()">
          <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <span>{{ appTitle }}</span>

        </ng-template>

        <span class="example-spacer"></span>
        <div>
          <ng-template [ngIf]="!authService.isAuthenticated()">
            <button mat-raised-button color="danger" routerLink="/signin" routerLinkActive="active">LogIn</button>
            <button mat-raised-button color="danger" routerLink="/signUp" routerLinkActive="active">Register</button>
          </ng-template>
        </div>
        <div>
          <ng-template [ngIf]="authService.isAuthenticated()">
         
            <button mat-raised-button color="primary" (click)="logOut()">Logout</button>
          </ng-template>
        </div>
      </mat-toolbar-row>

    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
