<mat-card class="mat-elevation-z3">
  <mat-card-header class="header">
    <mat-card-title> ডেইলি ডিস্ট্রিভিউসান </mat-card-title>
    <mat-card-subtitle class="right-aligned">{{ currentDate | date:'fullDate' }}  </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    
      <mat-form-field style="width: 50%; padding:5px">
        <mat-label>সংশ্লিষ্ট ব্যক্তি বাছাই করুন</mat-label>
        <mat-select [(ngModel)]="selectedConcernPerson"
          (selectionChange)="onConcernPersonDropdownSelectionChange($event.value)" [value]="selectedConcernPerson">
          <mat-option *ngFor="let concern of concernPerson" [value]="concern.concernPersonId">
            {{concern.concernPersonName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field style="width: 50%; padding:5px">
        <mat-label>সংশ্লিষ্ট কোম্পানি বাছাই করুন</mat-label>
        <mat-select [disabled]="concernPersonMapping.length == 0" [(ngModel)]="selectedCompany" 
        (selectionChange)="onCompanyDropdownSelectionChange()" [value]="selectedCompany">
          <mat-option *ngFor="let company of concernPersonMapping" [value]="company.companyId">
            {{company.companyName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <form *ngIf="formData.length > 0" [formGroup]="form" class="productEntryForm" (ngSubmit)="insert()">
      <formly-form [model]="formData" [fields]="fields" [options]="options" [form]="form"></formly-form>
      <div class="f-w d-flex justify-content-end">
        <button type="submit" mat-raised-button color="primary">Save</button>
      </div>
    </form>

  </mat-card-content>
</mat-card>
