<mat-card class="mat-elevation-z3">
  <mat-card-header class="header">
    <mat-card-title> ডেইলি ডিস্ট্রিভিউসান </mat-card-title>
    <mat-card-subtitle class="right-aligned">{{ currentDate | date:'fullDate' }}  </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

    <div style="display: flex; justify-content: center; align-items: center;">
      <mat-form-field style="width: 30%; padding:5px">
        <mat-label>সংশ্লিষ্ট ব্যক্তি বাছাই করুন</mat-label>
        <mat-select [(ngModel)]="selectedConcernPerson"
          (selectionChange)="onConcernPersonDropdownSelectionChange($event.value)" [value]="selectedConcernPerson">
          <mat-option *ngFor="let concern of concernPerson" [value]="concern.concernPersonId">
            {{concern.concernPersonName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field style="width: 30%; padding:5px">
        <mat-label>সংশ্লিষ্ট কোম্পানি বাছাই করুন</mat-label>
        <mat-select [disabled]="concernPersonMapping.length == 0" [(ngModel)]="selectedCompany"
          (selectionChange)="onCompanyDropdownSelectionChange()" [value]="selectedCompany">
          <mat-option *ngFor="let company of concernPersonMapping" [value]="company.companyId">
            {{company.companyName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field style="width: 30%; padding:5px" class="example-full-width">
        <mat-label>Distribution date</mat-label>
        <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" [(ngModel)]="distrbuteDate" [disabled] ="minDate == null || maxDate == null">
        <mat-datepicker-toggle matIconSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    
    <div *ngIf="formData.length === 0" class="d-flex justify-content-center align-items-center alert m-4" style="min-height:250px">
        <p class="h4 text-muted">No Data Found !</p>
    </div>
    
    <form *ngIf="formData.length > 0" [formGroup]="form" class="productEntryForm" (ngSubmit)="insert()">
      <formly-form [model]="formData" [fields]="fields" [options]="options" [form]="form"></formly-form>
      <div class="f-w d-flex justify-content-end">
        <button type="submit" [disabled]="distrbuteDate === null || isLoading" mat-raised-button color="primary">
          <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
          <span *ngIf="!isLoading">Save</span>
        </button>
      </div>
    </form>

  </mat-card-content>
    <mat-card-actions>
      <a mat-flat-button [routerLink]="['/sales-view']">Back to list</a>
    </mat-card-actions>

</mat-card>
