<mat-card class="mat-elevation-z3">
    <mat-card-actions style="justify-content: flex-end; margin-top: 5px; margin-bottom: 0;">
        <button mat-flat-button class="custom-button" style="background-color: white;background: white; color: red;" (click)="closeModal()">X</button>
      </mat-card-actions>
    <mat-card-header class="header" >
       
      <mat-card-title style="margin-bottom: 2px;margin-top: 0;"> নতুন কোম্পানি যোগ করুন </mat-card-title><!--নতুন কোম্পানি যোগ করুন--> 
      <mat-card-subtitle>{{ currentDate | date:'fullDate' }}</mat-card-subtitle>
    </mat-card-header>
  
    <mat-card-content style="margin-top: 10px;">
  
      <form [formGroup]="form" class="CompanyEntryForm" (ngSubmit)="insert()">
        <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form" ></formly-form>
        <div class="f-w mb-1">
          <button type="submit" mat-raised-button color="white">Save</button>
        </div>
      </form>
  
      
    </mat-card-content>
    
  </mat-card>
  