.mat-elevation-z3 {
  margin-left: 70px;
  margin-top: 50px;
}

/*.form-container {
  width: 65%;
  margin: 25px auto;
}

.f-w {
  width: 100%;
}

.mb-1 {
  margin-bottom: 15px;
}

.c-m {
  margin: 0 10px 0 0;
}

@media screen and (max-width: 600px) {
  .form-container {
    width: 97.5%;
    margin: 25px auto;
  }
}*/
