::ng-deep .mat-mdc-text-field-wrapper {
    height: 40px !important;
    margin-bottom: -.5em;
  }
  
  ::ng-deep .mat-mdc-form-field-flex {
    margin-top: -7px !important;
  }
  
  :host ::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
    font-size: 15px;
  }
  
  :host ::ng-deep .mat-mdc-form-field, .mat-form-field {
    width: 100%;
  }
  
  :host ::ng-deep .display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  :host ::ng-deep .product-name .mdc-text-field__input {
    font-weight: 500;
  }
  
  :host ::ng-deep .flex-1 {
    margin: 0px 3px;
  }
  
  :host ::ng-deep .flex-2 {
    flex: 2;
  }
  
  :host ::ng-deep .width-80 {
    width: 80px;
  }
  
  :host ::ng-deep .width-85 {
    width: 85px;
  }
  
  :host ::ng-deep .width-90 {
    width: 90px;
  }
  
  :host ::ng-deep .width-95 {
    width: 95px;
  }
  
  :host ::ng-deep .width-100 {
    width: 100px;
  }
  
  :host ::ng-deep .width-105 {
    width: 105px;
  }
  
  :host ::ng-deep .width-110 {
    width: 110px;
  }
  
  :host ::ng-deep .width-115 {
    width: 115px;
  }
  
  :host ::ng-deep .width-120 {
    width: 120px;
  }
  
  :host ::ng-deep .width-125 {
    width: 125px;
  }
  
  :host ::ng-deep .width-130 {
    width: 130px;
  }
  
  :host ::ng-deep .width-135 {
    width: 135px;
  }
  
  :host ::ng-deep .width-140 {
    width: 140px;
  }
  
  :host ::ng-deep .width-145 {
    width: 145px;
  }
  
  :host ::ng-deep .width-150 {
    width: 150px;
  }
  
  :host ::ng-deep .width-155 {
    width: 155px;
  }
  
  :host ::ng-deep .width-160 {
    width: 140px;
  }
  :host ::ng-deep .width-50-percent {
    width: 50%;
  }
  
  /* .f-w{
    text-align: end;
    margin-right: 40px;
    margin-top: -67px;
  } */
  
  .header{
    padding-bottom: 20px;
    margin-left: 500px;
    text-align: center;
  }
  
  :host ::ng-deep app-distribution-config{
    position: relative;
  }
  .f-w{
    display: flex;
    justify-content: space-between;
  }
  
  /* 
  .f-w {
      width: 100%;
  }
  
  .mb-1 {
      margin-bottom: 15px;
  }
  .right-aligned {
    margin-left: auto;
  }
  
  
  .child-product-item .mdc-text-field {
      padding: 0 5px;
  }
  
  mat-form-field .mat-input-element {
      padding: 0 5px;
  }
  
  .product-item-container{
      margin-bottom: 12px;
      border-radius: 5px;
      box-shadow: 0px 0px 5px 1px rgba(138, 138, 138, 0.5);
      -webkit-box-shadow: 0px 0px 3px 1px rgba(138, 138, 138, 0.5);
      -moz-box-shadow: 0px 0px 5px 1px rgba(138, 138, 138, 0.5);
  } */
   
  /* .productEntryForm .mat-mdc-text-field-wrapper .mat-mdc-form-field-infix .mat-mdc-floating-label {
      font-size: 1.2em;
      left: auto;
      right: auto;
      font-weight: 500;
  }
  
  .productEntryForm .mdc-text-field {
      padding: 0 10px;
  }
  
  .productEntryForm .mdc-text-field--filled .mdc-floating-label--float-above {
      transform: translateY(-106%) scale(0.75);
      left: auto;
      right: auto;
  }  */
  