.f-w {
    width: 100%;
}

.mb-1 {
    margin-bottom: 15px;
}
.centered-text {
  text-align: center;
}

.icon-spacing {
  margin-right: 2px;
}
/*.action-button {
  margin-right: 5px; 
}*/
.action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-header-cell {
  text-align: center;
}

.bold-header {
  font-weight: bold;
  font-size: 16px; 
}


