<mat-card class="mat-elevation-z3">

  <mat-card-header class="header" >
    <mat-card-title> Add New Product </mat-card-title>
    <mat-card-subtitle>{{ currentDate | date:'fullDate' }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

    <form [formGroup]="form" class="productEntryForm" (ngSubmit)="insert()">
      <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form" ></formly-form>
      <div class="f-w mb-1" style="display: flex; justify-content: space-between;">
        <button type="submit" mat-raised-button color="primary">Save</button>
        <a mat-flat-button [routerLink]="[getCompanyRoute(companyId)]">Back to list</a>
      </div>
    </form>

    
  </mat-card-content>
  
  <mat-card-actions style="justify-content: flex-end; margin-top: 5px; margin-bottom: 0;">
   
  </mat-card-actions>
</mat-card>
