
<!-- <mat-form-field appearance="fill" class="f-w mb-1">
  <mat-label>File Type</mat-label>
  <mat-select [(ngModel)]="productData.productId" name="row.fileTypeId" required>
    <mat-option *ngFor="let f of fileTypes" [value]="f.fileTypeId">{{
      f.name
      }}</mat-option>
  </mat-select>
  <mat-error *ngIf="row.fileTypeId === undefined || row.fileTypeId === null">
    File is required.
  </mat-error>
</mat-form-field> -->

<!-- <mat-form-field appearance="fill" class="f-w mb-1">
  <mat-label>Upload File</mat-label>
  <button type="button" mat-icon-button matPrefix (click)="f_input.click()">
    <mat-icon>attach_file</mat-icon>
  </button>
  <input type="text" readonly matInput [(ngModel)]="row.name" #fileUpload="ngModel" required />
  <input type="file" multiple hidden #f_input (change)="handleFileInputChange($event)" required />
  <mat-error *ngIf="fileUpload.invalid && (fileUpload.dirty || fileUpload.touched)">
    File is required.
  </mat-error>
</mat-form-field> -->

<!-- <mat-form-field appearance="fill" class="f-w mb-1">
  <mat-label>File Description</mat-label>
  <input matInput required [(ngModel)]="row.description" name="fileDescription" #fileDescriptionInput="ngModel" />
  <mat-error *ngIf="
      fileDescriptionInput.invalid &&
      (fileDescriptionInput.dirty || fileDescriptionInput.touched)
    ">
    File description is required.
  </mat-error>
</mat-form-field> -->

<!-- <mat-form-field appearance="fill" class="f-w mb-1">
  <mat-label>File Description</mat-label>
  <input matInput required [(ngModel)]="row.description" name="fileDescription" #fileDescriptionInput="ngModel" />
  <mat-error *ngIf="
      fileDescriptionInput.invalid &&
      (fileDescriptionInput.dirty || fileDescriptionInput.touched)
    ">
    File description is required.
  </mat-error>
</mat-form-field> -->

  <mat-form-field appearance="fill" class="w-200px mb-1 product-name">
    <mat-label style="margin:0 auto">Product</mat-label>
    <input type="text" matInput [value]="productData.productName" disabled>
  </mat-form-field>

  <mat-form-field appearance="fill" floatLabel="always" class="w-125px mb-1">
    <mat-label>Price</mat-label>
    <input type="text" matInput [(ngModel)]="productData.price" (ngModelChange)="updateProductData()" placeholder="0">
  </mat-form-field>

  <mat-form-field appearance="fill" floatLabel="always" class="w-125px mb-1">
    <mat-label>Eja</mat-label>
    <input type="number" matInput placeholder="Ex. 200.00" [(ngModel)]="productData.eja" #ejaInput="ngModel" (ngModelChange)="updateProductData()" placeholder="0" disabled>
    <mat-error *ngIf="
          ejaInput.invalid &&
          (ejaInput.dirty || ejaInput.touched)
        ">
      Eja is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" floatLabel="always" class="w-125px mb-1">
    <mat-label>New Product</mat-label>
    <input type="text" matInput [(ngModel)]="productData.newProduct" (ngModelChange)="updateProductData()" placeholder="0">
  </mat-form-field>

  <mat-form-field appearance="fill" floatLabel="always" class="w-125px mb-1">
    <mat-label>Total</mat-label>
    <input type="text" matInput [value]="getTotalItem()" disabled>
  </mat-form-field>

  <mat-form-field appearance="fill" floatLabel="always" class="w-125px mb-1">
    <mat-label>Sales Quantity</mat-label>
    <input type="text" matInput [(ngModel)]="productData.salesQuantity" (ngModelChange)="updateProductData()" placeholder="0">
  </mat-form-field>    

  <mat-form-field appearance="fill" floatLabel="always" class="w-125px mb-1">
    <mat-label>Total Amount</mat-label>
    <input type="text" matInput [value]="getTotalPrice()" disabled>
  </mat-form-field>    

  <mat-form-field appearance="fill" floatLabel="always" class="w-125px mb-1">
    <mat-label>Dumping</mat-label>
    <input type="text" matInput [(ngModel)]="productData.dumping" (ngModelChange)="updateProductData()" placeholder="0">
  </mat-form-field>    

  <mat-form-field appearance="fill" floatLabel="always" class="w-125px mb-1">
    <mat-label>Receive</mat-label>
    <input type="text" matInput [(ngModel)]="productData.receive" (ngModelChange)="updateProductData()" placeholder="0">
  </mat-form-field>    

  <mat-form-field appearance="fill" floatLabel="always" class="w-125px mb-1">
    <mat-label>Remaining</mat-label>
    <input type="text" matInput [value]="getRemaining()" disabled>
  </mat-form-field>

<!-- <mat-form-field appearance="fill" class="f-w mb-1">
  <mat-label>Entry Date</mat-label>
  <input matInput required [(ngModel)]="row.date" name="uploadDateTime" #uploadDateTimeInput="ngModel"
    [matDatepicker]="picker" (ngModelChange)="row.date = $event" />
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  <mat-error *ngIf="
      uploadDateTimeInput.invalid &&
      (uploadDateTimeInput.dirty || uploadDateTimeInput.touched)
    ">
    Entry Date is required.
  </mat-error>
</mat-form-field> -->