mat-form-field {
    margin-left: 8px;
}

.w-125px {
    width: 100px;
}
.w-200px{
    width: 200px;
}

/* .mat-mdc-text-field-wrapper .mat-mdc-form-field-infix .mat-mdc-floating-label {
    font-size: 1.2em;
    left: auto;
    right: auto;
    font-weight: 500;
}

.mdc-text-field {
    padding: 0 10px;
}

.mdc-text-field--filled .mdc-floating-label--float-above {
    transform: translateY(-106%) scale(0.75);
    left: auto;
    right: auto;
} */